$theme-colors: (
  'primary': #000,
  'secondary': #000,
  'white': #000,
);

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-family-secondary: 'Arial', sans-serif;
$font-family-primary: 'Arial', sans-serif;

$font-size-base: 1rem;

$font-size-headings: (
  h1: $font-size-base * 4,
  h2: $font-size-base * 3,
  h3: $font-size-base * 2,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base,
);
